
.sl-markdown-content .inline-icon {
	display: inline;
}

:root {
	--sl-sidebar-width: 20rem;
	--sl-content-width: 65rem;
	--sl-text-6xl: 3rem;
}

.sl-markdown-content > img {
	display: block;
    float: none;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

.sl-markdown-content > ol :where(ul) li,
.starlight-aside__content ul li,
.sl-markdown-content > ul li {
	list-style-type: circle;
	margin-left: 2rem;
}

.sl-markdown-content > ol :where(ul) li {
	list-style-position: inside;
}

.sl-markdown-content > ul li ul {
	padding-left: 2rem;
}

.tablist-wrapper > ul li {
	list-style-type: inherit;
	margin-left: inherit;
}

.expressive-code .copy .no-copy button  { display: none; }

.inline-code code:not(:first-child):not(:last-child) {
	padding-left: 0;
	padding-right: 0;
}

.inline-code code:first-child {
	padding-right: 0;
}

.inline-code code:last-child{
	padding-left: 0;
}