
.sl-markdown-content .inline-icon {
	display: inline;
}

:root {
	--sl-text-6xl: 3rem;
}

.sl-markdown-content > img {
	display: block;
    float: none;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

.sl-markdown-content > ol :where(ul) li {
	list-style-position: inside;
}



.tablist-wrapper > ul li {
	list-style-type: inherit;
	margin-left: inherit;
}

.expressive-code .copy .no-copy button  { display: none; }

.inline-code code:not(:first-child):not(:last-child) {
	padding-left: 0;
	padding-right: 0;
}

.inline-code code:first-child {
	padding-right: 0;
}

.inline-code code:last-child{
	padding-left: 0;
}

.sl-markdown-content table details {
    display: inline-block;
    vertical-align: middle;
    margin-left: 0.25rem;
}

.sl-markdown-content table summary {
    cursor: pointer;
    outline: none;
}

.sl-markdown-content table {
  display: table;
  width: 100%;
}

.sl-markdown-content table td {
  white-space: normal;
  word-break: normal;
  overflow-wrap: anywhere;
}

.sl-markdown-content table th,
.sl-markdown-content table td:first-child,
.sl-markdown-content table td:nth-child(3),
.sl-markdown-content table td:nth-child(5),
.sl-markdown-content table td:nth-child(6) {
  white-space: nowrap;
}
